*,*:after,*::before {
  -moz-box-sizing: border-box;
   box-sizing: border-box;

  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;

 }

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  overflow: hidden; /* Hide scrollbars */
}


#menuO{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#menuC{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#menuOO{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#menuCC{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}
#con1{
	position: relative;
  	width: 100vw;
  	height: 100vh;}
#con2{
	position: absolute;
}

#con3{
	position: relative;
  	width: 100vw;
  	height: 100vh;}
#con4{
	position: absolute;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.slidecontainer {
  width: 100%;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #1c53ac;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background:  #1c53ac;
  cursor: pointer;
}

.colourPicker {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}



#canvas {
  overflow: hidden; /* Hide scrollbars */
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}


.flex-container {
  display: flex;
  flex-direction: column;
}

/*off*/
.button {
  font-size: 18px;
  background-color: #111111; 
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #34558a;
  cursor: pointer;
}

/*on*/
.buttonToggel {
  font-size: 18px;
  background-color: #555555;
  border: none;
  color: black;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttonToggel:hover {
  cursor: pointer;
  background-color: #34558a;
}



.spanClass{
  font-size: 18px;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  color: #f1f1f1;
}


/*//////*/




/* Style for the collapsible button */
.collapsible {
  background-color: #777; /* Background color of the button */
  color: white; /* Text color */
  cursor: pointer; /* Cursor changes to pointer when hovering over the button */
  padding: 18px; /* Padding inside the button */
  width: 100%; /* Button takes the full width of its container */
  border: none; /* No border */
  text-align: left; /* Text is aligned to the left */
  outline: none; /* No outline when the button is focused */
  font-size: 15px; /* Font size of the button text */
}

/* Style for the button when it is active or hovered over */
.active, .collapsible:hover {
  background-color: #555; /* Background color changes to a darker shade */
}

/* Style for the pseudo-element after the collapsible button */
.collapsible:after {
  content: '\002B'; /* Content of the pseudo-element is a plus sign */
  color: white; /* Color of the plus sign */
  font-weight: bold; /* Bold font weight */
  float: right; /* Float the plus sign to the right */
  margin-left: 5px; /* Margin to the left of the plus sign */
}

/* Style for the pseudo-element after the button when it is active */
.active:after {
  content: "\2212"; /* Content of the pseudo-element changes to a minus sign */
}

/* Style for the collapsible content */
.content {
  padding: 0 18px; /* Padding inside the content */
  max-height: 0; /* Initial max-height is 0 to hide the content */
  overflow: hidden; /* Hide any overflow content */
  transition: max-height 0.2s ease-out; /* Transition effect for max-height */
  background-color: #111111; /* Background color of the content */
}

.content_2 {
  padding: 0 18px; /* Padding inside the content */
  max-height: 0; /* Initial max-height is 0 to hide the content */
  overflow: hidden; /* Hide any overflow content */
  transition: max-height 0.2s ease-out; /* Transition effect for max-height */
  background-color: #111111; /* Background color of the content */
}




/*tabs*/
/* Style the tab */
.tab {
  transition: height 1s;
  overflow: hidden;
  background-color: #0b0000;
}

.tab:hover {
  transition: height 0.5s;
  overflow: hidden;
  background-color: #0b0000;
}

/* Style the buttons inside the tab */
.tabButton {
  width: 50%;
  font-size: 18px;
  background-color: #111111; 
  border: none;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Change background color of buttons on hover */
.tabButton:hover {
  background-color: #34558a;
  cursor: pointer;
}

/* Create an active/current tablink class */
.tabButton.active {
  background-color: rgb(47, 46, 46);
}

/* Style the tab content */
.tabcontent {
  display: none;
  /*padding: 6px 12px;*/
  border: 1px solid #ccc;
  border-top: none;
}


/* Loading screen styles */
#loadingScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  z-index: 1000;
}


/*/////*/

